
#b1, #b2, #b3 {
  background-color: rgb(13, 199, 231);
}
#b4, #b5, #b6 {
  background-color: rgb(192, 16, 228);
}
#b7, #b8, #b9 {
  background-color: rgb(147, 206, 9);
}
#b0 {
  background-color:rgb(224, 240, 9);
}

#erase {
  background-color:rgb(250, 0, 0);
}
#OK {
  background-color:rgb(9, 255, 1);
}